@font-face {
  font-family: cantarellregular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cantarell_regular-webfont.woff") format("woff"), url("../fonts/cantarell_regular-webfont.woff2") format("woff2");
}
body {
  font-family: "Orbitron", arial, sans-serif;
}

h2 {
  font-family: "Orbitron", helvetica, arial;
  font-size: 20px;
  color: #FF0000;
  margin-bottom: 20px;
  margin-top: 70px;
  color: white;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
}

h3 {
  color: white;
  font-size: 20px;
}

#intro h1 {
  margin-bottom: 10px;
  color: white;
}

#bottom-links a {
  color: white;
}

#intro span {
  color: #FF0000;
}

@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
  h3 {
    font-size: 25px;
  }
}
nav {
  height: 90px;
  background-color: #C0C0C0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
}

nav a:hover {
  background-color: var(--accent-color);
}

nav .home-link {
  margin-right: auto;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  display: none;
}

#logo {
  height: 70px;
}

#mobile-logo {
  display: none;
}

#mobile-logo {
  height: 70px;
  margin-right: auto;
}

@media (max-width: 768px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #C0C0C0;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  #mobile-logo {
    display: block;
    margin-left: 20px;
  }
  #logo {
    display: none;
  }
}
#footer {
  background-color: #C0C0C0;
  margin-top: 20px;
}

#footer h3 {
  color: #010101;
  font-size: 18px;
}

#footer p {
  color: #010101;
  font-size: 15px;
}

#quicklinks a {
  color: #010101;
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 15px;
}

#contact-info {
  text-align: right;
}

#rights {
  text-align: right;
}

#lower-footer {
  display: flex;
  align-items: center;
  justify-content: end;
}

#icons {
  margin-right: auto;
}

#icons a {
  text-decoration: none;
  text-decoration-color: none;
  color: #000000;
}

@media (min-width: 768px) {
  #footer h3 {
    font-size: 25px;
  }
  .fa {
    font-size: 40px;
    margin-right: 25px;
  }
}
.container {
  background-color: white;
  height: 300px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.contact-container {
  background-color: #C0C0C0;
  border-radius: 30px;
}

.line-separator {
  margin-bottom: 20px;
  border-bottom: solid 3px #FF0000;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

body {
  background-image: url(../../images/background.png);
  background-size: cover;
}

#intro {
  text-align: center;
}

#intro h1 {
  font-size: 25px;
}

h1 span {
  font-size: 30px;
}

p span {
  font-size: 18px;
}

#bottom-links {
  margin: 20px 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  #bottom-links {
    margin: 50px 100px;
  }
  #intro h1 {
    font-size: 35px;
  }
  h1 span {
    font-size: 40px;
  }
  p span {
    font-size: 22px;
  }
}
#contact p {
  color: #010101;
}

#email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}

#phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}

#form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#form input, textarea {
  padding: 22px;
  border: 2px solid #d6d6d6;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  font: inherit;
  width: 90%;
  margin-left: 5%;
}

#form textarea {
  height: 250px;
}

#form input[type=submit] {
  padding: 12px 28px;
  background: #FF0000;
  color: #fff;
  border: none;
  transition: all 200ms ease-in;
}

#form input[type=submit]:hover {
  background-color: #626262;
  border-radius: 0;
}

#about-me {
  margin-bottom: 250px;
}

#projects .container {
  height: 200px;
}

@media (min-width: 768px) {
  #projects .container {
    height: 300px;
  }
}
#couple-resort-info p {
  margin-top: 20px;
}

.work div {
  margin-top: 40px;
}

.next-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next-project p {
  text-decoration: none;
}

@media (min-width: 768px) {
  #couple-resort-info p {
    margin-top: 30px;
  }
}
#billybeer-info p {
  margin-top: 20px;
}

@media (min-width: 768px) {
  #billybeer-info p {
    margin-top: 30px;
  }
}
#promo-video-info p {
  margin-top: 20px;
}

@media (min-width: 768px) {
  #promo-video-info p {
    margin-top: 30px;
  }
}
#industrynight-info p {
  margin-top: 20px;
}

@media (min-width: 768px) {
  #industrynight-info p {
    margin-top: 30px;
  }
}