@font-face {
  font-family: cantarellregular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cantarell_regular-webfont.woff") format("woff"), url("../fonts/cantarell_regular-webfont.woff2") format("woff2");
}
body {
  font-family: "Orbitron", arial, sans-serif;
}

h2 {
  font-family: "Orbitron", helvetica, arial;
  font-size: 30px;
  color: #FF0000;
  margin-bottom: 20px;
  margin-top: 70px;
  color: white;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}

h3 {
  color: white;
  font-size: 25px;
}

#intro h1 {
  margin-bottom: 10px;
  color: white;
}

#bottom-links a {
  color: white;
}

#intro span {
  color: #FF0000;
}

#main-header {
  background-color: #C0C0C0;
  margin-bottom: 20px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 70px;
  width: 152px;
}

#main-nav ul {
  list-style: none;
}

#main-nav ul li {
  margin-right: 20px;
  display: inline;
}

#main-nav ul li:last-child {
  margin-right: 0;
}

#main-nav a {
  color: #010101;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #main-header {
    justify-content: space-between;
  }
  #logo {
    margin-left: 0;
    margin-right: 0;
  }
  #main-nav ul li {
    display: inline;
  }
  #main-nav ul {
    margin-right: 50px;
  }
}
#footer {
  background-color: #C0C0C0;
  margin-top: 20px;
}

#footer h3 {
  color: #010101;
}

#footer p {
  color: #010101;
}

#quicklinks a {
  color: #010101;
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

#contact-info {
  text-align: right;
}

.fa {
  font-size: 40px;
  margin-right: 25px;
}

#lower-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#icons a {
  text-decoration: none;
  text-decoration-color: none;
  color: #000000;
}

.container {
  background-color: white;
  height: 300px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.line-separator {
  margin-bottom: 20px;
  border-bottom: solid 3px #FF0000;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

body {
  background-image: url(../../images/background.png);
  background-size: cover;
}

#intro {
  text-align: center;
}

#intro h1 {
  font-size: 35px;
}

h1 span {
  font-size: 40px;
}

p span {
  font-size: 22px;
}

#bottom-links {
  margin: 50px 100px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-footer {
  margin-top: 200px;
}

#category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#year {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#software {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#work div {
  margin-top: 40px;
}

#next-project {
  display: flex;
  align-items: center;
  justify-content: right;
}