@use 'fonts';

$primary-color: #010101;
$secondary-color: #FF0000;
$accent-color: #FF0000;
$body-text-color: white;
$heading-font-family: 'Orbitron', helvetica, arial;
$body-font-family: 'Orbitron',arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

