@use '../abstracts' as a;

#main-header {
    background-color: #C0C0C0;
    margin-bottom: 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#logo {
    height: 70px;
    width: 152px;
}


#main-nav ul {
    list-style: none;
    
}

#main-nav ul li {
    margin-right: 20px;
    display: inline;
}

#main-nav ul li:last-child {
    margin-right: 0;
}

#main-nav a {
    color: a.$primary-color;
    text-decoration: none;

}

@media screen and (min-width: 768px) {
    #main-header {
        justify-content: space-between;
    }

    #logo {
        margin-left: 0;
        margin-right: 0;
    }

    #main-nav ul li {
        display: inline;        
    }

    #main-nav ul {
        margin-right: 50px;
    }
}

