//import variable file and save it in "v" namespace
@use '../abstracts/variables' as v;

//i can use any variable in the variable namespace
body {
    font-family: v.$body-font-family;
}

h2 {
    font-family: v.$heading-font-family;
    font-size: 20px;
    color: v.$accent-color;
    margin-bottom: 20px;
    margin-top: 70px;
    color: white;
}
p {
    line-height: 24px;
    margin-bottom: 20px;
    color: v.$body-text-color;
    font-size: 15px;
}

h3 {
    color: white;
    font-size: 20px;
}

#intro h1 {
    margin-bottom: 10px;
    color: v.$body-text-color;

}

#bottom-links a{
    color: v.$body-text-color;
    
}

#intro span {
    color: #FF0000;
}

@media(min-width: 768px){
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    h3 {
        font-size: 25px;
    }
}