@use '../abstracts' as a;

#couple-resort-info p {
    margin-top: 30px;
}

.work div {
    margin-top: 40px;

}

.next-project {
    @include a.flex-space-between;
    
}

.next-project p {
    text-decoration: none;
}
