#projects .container{
    height: 200px;
}

@media(min-width: 768px){
    #projects .container{
        height: 300px;
    }

    main section a {
        display: flex;
        flex-direction: column;
    }

}